stages:
  - test

cache:
  paths:
    - node_modules/
    - frontend/node_modules/
    - backend/node_modules/

job_test_1:
  stage: test
  image: alpine:latest
  script:
    - echo "Xin chào! GitLab CI/CD đang chạy ngon lành đây!"
    - echo "Branch hiện tại: $CI_COMMIT_BRANCH"
    - echo "Commit: $CI_COMMIT_SHORT_SHA"
    - date

job_test_2:
  stage: test
  image: node:20
  script:
    - node -v
    - npm -v
    - echo "Node.js đã sẵn sàng cho Express + React"

job_manual:
  stage: test
  image: alpine:latest
  script:
    - echo "Bạn vừa bấm chạy job thủ công thành công!"
    - echo "Giờ thì tha hồ config deploy Render rồi đấy!"
  when: manual