.navBar{
    width: 100%;
    position: sticky;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding:10px 0px;
    margin:0px;
   }
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.logo > img{
    width: 100px;
}
.navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    padding:20px;
    gap:10px
}

.navLinks > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
    padding:15px;
    
}

.navLinks > a:hover{
    background-color: #f0f0f0;
    border-radius: 5px;
}

.searchBar{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.logoutButton,.userName{
    display:none;
}

.userProfile{
    width: 10%;
    padding:10px;
}